[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = ">=2.5.3"
urllib3 = ">=1.25.3"
build = "*"
twine = "*"

[dev-packages]

[requires]
python_version = "3.8"
